.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.sideBySideDT{display:flex; flex-direction:row;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .grid {
  float: left;
  padding: 10px;
} */

/* .row {
  display: flex;
} */
/* .column-left {
  width: 75%;
} */

/* .column-right {
  display: flex;
  float: right;
  width: 10%;
  flex-wrap: wrap;
  align-self: flex-end;

} */

.row1 {
  width: 100;
  display: flex;
  justify-content: flex-end;
}

.grid {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  /* Makes the whole thing scrollable */
  height: 100%;
  /* adjust width to % to make the whole screen skinnier including title*/
  width: 80vw;
  display: flex;
  flex-direction: column;
  overflow: visible;
  color: #000000;
  font-size: 13px;
  line-height: 1;
}

/* .dt {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
  flex: 1;
  float: none;
} */

.activities {
  /* background-color: paleturquoise; */
  width: 30%;
  /* float: none; */
}

.dailytrackerform {
  /* background-color: palevioletred; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  width: 70%;
  /* float: none; */
}

button {
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
  line-height: 1;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 20px auto;
  outline: none;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  /* border-radius: 10px; */
}
/* .addbtn {
  width:
} */

button:hover {
  background-color: black;
  color: white;
  /* border-radius: 10px; */
}

/* input {
  width: 246px;
  font-size: 16px;
  line-height: 20px;
  color: black;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
} */

input::placeholder {
  color: gray;
}

input:focus {
  border: 1px solid black;
  outline: none;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  /* height: 10px;
  width: 10px; */
  list-style: none;
}

/* li {
  height: 5%;
  width: 5%;
} */

/* main {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

h1 {
  font-size: 16px;
  font-weight: bold;
}

/* .row {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.item {
  width: 60px;
  /* min-width: 40px; */
  height: 40px;
  min-height: 40px;
  background-color: rgb(94, 93, 196);
  margin: 10px;
  border-radius: 10px;
}

.listItems {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 3px solid rgb(41, 11, 124);
}

.item.selected {
  background-color: rgb(41, 11, 124);
}

input {
  margin: 20px auto;
}

label {
  margin-right: 15px;
}

.listItems {
  float: left;
}


#dropdown{
  color: white;
  font-weight: bold;
  background-color: red;
}